@charset "UTF-8";

.is-mobile .mobile-scroll {
  -ms-overflow-style: scrollbar;
  overflow-y: auto;
}


#bg {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
#img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: none;
  position: absolute;
}
.is-img #img {
  display: block;
  background-image: url(../img/bg/HEADER.jpg);
}
.is-video #img {
  display: block;
  background-image: url(../img/bg/video.jpg);
}
.is-yt-video #img {
  display: block;
  background-image: url(../img/bg/yt-video.jpg);
}

#video {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  position: absolute;
}
.is-video #video,
.is-yt-video #video {
  display: block;
}
#video-bg {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
#overlay {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
canvas {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  position: absolute;
}
.is-star canvas {
  display: block;
}

#effect {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: none;
  position: absolute;
}
.ie9 #effect {
  background-image: url(#);
}
.is-cloud #effect {
  display: block;
}
#effect img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  position: absolute;
}
/* cloud common */
#cloud1 {
  left: 40%;
}
#cloud2 {
  left: 80%;
}
#cloud3 {
  left: 90%;
}
#cloud4 {
  left: 10%;
}
/* default cloud */
.default-cloud #cloud1 {
  top: 30%;
}
.default-cloud #cloud2 {
  top: 10%;
}
.default-cloud #cloud3 {
  top: 25%;
}
.default-cloud #cloud4 {
  top: 15%;
}
/* bottom cloud */
.bottom-cloud #cloud1 {
  bottom: 30%;
}
.bottom-cloud #cloud2 {
  bottom: 10%;
}
.bottom-cloud #cloud3 {
  bottom: 25%;
}
.bottom-cloud #cloud4 {
  bottom: 15%;
}
/*======================================
8.3 - Section Header
======================================*/
.section-title {
  text-align: center;
  font-size: 40px;
}
@media screen and (min-width: 480px) {
  .section-title {
    font-size: 44px;
  }
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 60px;
  }
}
@media screen and (min-width: 992px) {
  .section-title {
    font-size: 100px;
  }
}
.section-subtitle {
  font-weight: 400;
  letter-spacing: 5px;
  padding-left: 5px;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
@media screen and (min-width: 480px) {
  .section-subtitle {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 768px) {
  .section-subtitle {
    margin-bottom: 0;
  }
}
.section-divider {
  -webkit-border-top-left-radius: 50px;
  -moz-border-top-left-radius: 50px;
  border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -moz-border-top-right-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-bottom-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-bottom-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-clip: padding-box;
  display: inline-block;
  height: 5px;
  width: 80px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .section-divider {
    height: 6px;
  }
}
@media screen and (min-width: 992px) {
  .section-divider {
    height: 7px;
  }
}
.section-title-span {
  display: block;
}

.cardList {
    padding:40px 0px;
}

.cardList::after {
    clear:both;
    content:"";
    display:block;
}

.cardList > div{
    background:white;
    box-shadow: 10px 10px 143px -26px rgba(145,145,145,1);
    border-radius: 20px;
    width:30%;
    margin-right:5%;
    float:left;
    padding:30px;
    text-align: center;
    height:175px;
    margin-bottom:20px;
    font-size:15px;
}

.cardList h3{
    font-size:25px;
    height:81px;
    position: relative;
    margin:0px;
}

.cardList img {
    max-width:50%;
    margin: 0 auto;
}

.cardList h3::after {
    content:"";
    display:block;
    height:1px;
    background: #3ab099;
    width:50px;
    position:absolute;
    bottom:10px;
    left:50%;
    margin-left:-25px;
}

.cardList > div:nth-child(3n+3) {
    margin-right:0px;
}

@media screen and (max-width:750px) {
    .cardList > div {
        width:47.5%;
        margin-right:5% !important;
    }
    .cardList > div:nth-child(even) {
        margin-right:0px !important;
    }
}

@media screen and (max-width:500px) {
    .cardList h3{
        font-size:17px;
        height:67px;
    }
    .cardList > div {
        padding:20px;
        font-size:13px;
        height:150px;
    }
}

#masternodeRevenue{
    text-align: center;
}

#masternodeRevenue h1{
    color:white;
    font-weight: normal;
    font-size:25px;
}

#masternodeRevenue span{
    font-size:14px;
    color:white;
    display: inline-block;
    margin-bottom:50px;
}

#masternodeRevenue span::before{
    content:"";
    display:inline-block;
    background:url(../../img/check.png);
    width:14px;
    height:10px;
    margin-right:7px;
    margin-left:15px;
}

#masternodeRevenue div{
    border-radius: 20px;
    border:solid 1px white;
    padding:45px 0px;
    display:inline-block;
    margin:10px 20px;
    color:white;
    font-size:12px;
    width:200px;
}

#masternodeRevenue div::first-line{
    line-height: 40px;
    font-size:14px;
    font-weight: bold;
}

.section--custom-13::after{
    content:"";
    display:block;
    height:45px;
}

@media screen and (max-width:450px ) {
    #masternodeRevenue span{
        margin-bottom:0px;
        display:block;
    }
    #masternodeRevenue span::before{
        margin-left: 0px;
    }
}

/*======================================
8.4 - Countdown
======================================*/
#countdown {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  #countdown {
    margin-top: 25px;
  }
}
@media screen and (max-width: 480px) {
  .col-countdown {
    width: 50%;
    margin-top: 25px;
  }
}
.countdown-amount {
  line-height: 1;
  font-size: 38px;
  letter-spacing: 0;
}
@media screen and (min-width: 768px) {
  .countdown-amount {
    font-size: 54px;
  }
}
@media screen and (min-width: 992px) {
  .countdown-amount {
    font-size: 64px;
  }
}
.countdown-period {
  -webkit-border-top-left-radius: 50px;
  -moz-border-top-left-radius: 50px;
  border-top-left-radius: 50px;
  -webkit-border-top-right-radius: 50px;
  -moz-border-top-right-radius: 50px;
  border-top-right-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-bottom-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-bottom-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-clip: padding-box;
  font-weight: 400;
  letter-spacing: 5px;
  padding-left: 5px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 3px 20px 3px 25px;
  margin-top: 5px;
}
section {
  overflow-x: hidden;
  overflow-y: auto;
}
/*======================================
8.5 - Subscribe
======================================*/
#form {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
  position: absolute;
  opacity: 0;
}
#subscribe {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
}
#subscribe > .tb-cell {
  width: 100%;
}
#subscribe .section-title {
  margin-bottom: 0.5em;
  font-size: 36px;
}
@media screen and (min-width: 480px) {
  #subscribe .section-title {
    font-size: 44px;
  }
}
@media screen and (min-width: 768px) {
  #subscribe .section-title {
    font-size: 56px;
  }
}
#form-subscribe {
  position: relative;
}
#form-subscribe .form-control {
  height: auto;
  line-height: 46px;
  font-size: 40px;
  padding: 17px 80px 15px 20px;
  border: 0;
}
#form-subscribe button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 15px;
  width: 80px;
  font-size: 40px;
  background-color: transparent;
  border: 0;
}
#form-subscribe button i {
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
}
/*==============================================================================
9 - Footer
==============================================================================*/
#site-footer {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 15px;
  height: 60px;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  #site-footer {
    height: 70px;
  }
}
@media screen and (min-width: 992px) {
  #site-footer {
    height: 80px;
  }
}
/*======================================
9.1 - Volume
======================================*/
#volume {
  -webkit-border-top-left-radius: 50%;
  -moz-border-top-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -moz-border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-border-bottom-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-clip: padding-box;
  display: block;
  float: left;
  height: 44px;
  width: 44px;
  line-height: 44px;
  margin-top: 8px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #volume {
    height: 50px;
    width: 50px;
    line-height: 48px;
    margin-top: 10px;
  }
}
#volume span {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 5px;
  margin-top: -2.5px;
}
.is-mobile .is-yt-video #volume{
  display: none;
}
.is-mobile .is-video #volume{
  display: none;
}
/*======================================
9.2 - Social
======================================*/
#footer-social {
  margin-top: 8px;
  text-align: right;
}
@media screen and (min-width: 768px) {
  #footer-social {
    margin-top: 15px;
  }
}
#footer-social a {
  text-align: center;
  display: inline-block;
  height: 44px;
  width: 44px;
  line-height: 44px;
}
@media screen and (min-width: 768px) {
  #footer-social a {
    height: 50px;
    width: 50px;
    line-height: 50px;
  }
}
#footer-social a i {
  font-size: 22px;
}

#team{
    text-align: center;
}
#team > div{
    width:180px;
    padding:20px;
    display:inline-block;
    font-size:13px;
    font-weight: lighter;
    text-align: center;
    vertical-align: top;
    color:#4a4d94;
}
#team > div > div{
    font-weight: normal;
    color:#0c0e41;
    margin-bottom:5px;
    font-size:15px;
}

#team > div > span{
    padding-left: 25px;
    background: url("../../img/discord_dark.svg") no-repeat 0 0;
    background-size: contain;
    display: inline-block;
}

#team > div::before{
  width:140px;
  height:140px;
  content:"";
  background:url('../../img/members.png');
  display:block;
  border-radius: 70px;
  box-shadow: 0px 30px 143px -26px rgba(145,145,145,1);
  margin-bottom:20px;
}
#team .type2::before{
    background-position: -140px 0px;
}
#team .type3::before{
    background-position: -280px 0px;
}
#team .type4::before{
    background-position: -420px 0px;
}
#team .type5::before{
    background-position: -560px 0px;
}

/*==================================================
10 - Plugin
==================================================*/
/* bonefishcode style */
.amaran.bfc-theme {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.amaran.bfc-theme .notify {
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  background-clip: padding-box;
  text-align: center;
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 15px;
}
.amaran.bfc-theme .notify-icon {
  text-align: center;
  -webkit-border-top-left-radius: 50%;
  -moz-border-top-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -moz-border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -moz-border-bottom-left-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-border-bottom-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-clip: padding-box;
  height: 38px;
  line-height: 38px;
  width: 38px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.99);
  margin-right: 1em;
}
@media screen and (min-width: 768px) {
  .amaran.bfc-theme .notify-icon {
    height: 48px;
    line-height: 48px;
    width: 48px;
    font-size: 24px;
  }
}
.amaran.bfc-theme .notify-icon.valid {
  background-color: rgba(67, 203, 172, 0.99);
}
.amaran.bfc-theme .notify-icon.error {
  background-color: rgba(203, 67, 67, 0.99);
}
.amaran.bfc-theme .notify-message {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  line-height: 1.3;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .amaran.bfc-theme .notify-message {
    font-size: 28px;
  }
}
.amaran-wrapper.right {
  left: 0;
}
.amaran-wrapper.top {
  bottom: 0;
}
.amaran-wrapper-inner {
  height: 100%;
}
/*==================================================
11 - Responsive
==================================================*/
/* fix ie10 viewport bug */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}


.company-contacts .col {
    display: inline-block;
    float: none;
    max-width: 64px;
    height: 100px;
    text-align: center;
    font-size:12px;
}

.company-contacts .col img{
    height:37px;
}

.company-contacts .col p{
    margin-top: 7px;
}

.company-contacts .col *{
    min-height: auto;
}

#downloads  a{
    margin: 20px 0px;
}


#explorers li {
    display: list-item;
    list-style: circle;
    margin-left:20px;
}
